@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "tailwindcss";

@theme {
  --font-bebas: "Bebas Neue", sans-serif;
  --color-primary: #ff0040;
  --color-secondary: #FFFFFF;
  --color-tertiary: #000;


  --animate-marquee: marquee linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

:root {
  --bg: #000;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;


  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}

img,
video {
  max-width: 100%;
}

